/* CSS for menu */

h1, {font-family: 'DM Serif Display', serif;}
h2, h3,p {
font-family: 'Raleway', sans-serif;}


li {
font-family: 'Raleway', sans-serif;}
ul {list-style-position: inside}

body {
  color: midnightblue;
text-align: center;
font-family: 'Raleway', sans-serif;}

h1 {
  color: midnightblue;
text-align: center;}

body {background-color: blanchedalmond;text-align: center;}

h2 {background-color: lightblue; text-align: center;}

